body{
   max-width: 700px;
   margin:auto;
}

img #image{
   width:400px;
}

h1{
   font-family: monospace;
   font-size: 30px;
   text-align: center;
   color: rgb(197, 57, 111);
  
}

h2{
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    color: rgb(197, 57, 111);
    margin-bottom:90px;
}

/* this css selector targets <div class="lsq"></div> */
.lsq {
   /* i created an outer div & a separate css class that changes color*/
    animation: background-color-changing;
    animation-duration: 5s;
    animation-iteration-count: 5;
}

/* this css selector targets <a><input></a>*/
a .input {
   /* i created an outer div & a separate css class that changes color*/
    animation: background-color-changing;
    animation-duration: 5s;
    animation-iteration-count: 5;
}

/* this css selector targets <a><button></a>*/
a .button {
   /* i created an outer div & a separate css class that changes color*/
    animation: background-color-changing;
    animation-duration: 5s;
    animation-iteration-count: 5;
}

a.button {
   /* the animation won't work on this because 1) in your html you have an "a href" instead of a "button"*/
   
    height:40px;
    width: 120px;
    margin-top: 50px;
    text-align: center;
    font-family: monospace; 
    font-size:18px;
    font-weight: bold;
    color: white;
   /* and 2) because you have a fixed background color here, which conflicts with your animation*/
   background-color: rgb(197, 57, 111); 
    border: solid 1px rgb(62, 6, 128);
}


@keyframes background-color-changing {
    0%  {background-color: rgb(197, 57, 111) };
    25% { background-color: rgb(197, 57, 162)};
    50% { background-color: rgb(164, 57, 197)};
    75% {background-color: rgb(118, 57, 197)};
    100%{background-color: rgb(62, 6, 128) };
}
