body{
   max-width: 700px;
   margin:auto;
}

img #image{
   width:400px;
   height:200px;
   margin-top:0px;
   margin-bottom:0px;
}

h1{
   font-family: serif;
   font-size:40px;
   text-align: center;
   color: rgb(197, 57, 111);
   margin-top: 0px;
  
}

h2{
    font-family: serif;
    font-size: 30px;
    text-align: center;
    color: rgb(197, 57, 111);
    margin-bottom:90px;
}

/* this css selector targets <div class="lsq"></div> , and also <a class="button"></a> */
a.button {
   /* i created an outer div & a separate css class that changes color*/
    animation: background-color-changing;
    animation-duration: 5s;
    animation-iteration-count: 20;
}

a.button { 
    height:10px;
    width:300px;
    margin-top: 50px;
    text-align: center;
    font-family: serif; 
    font-size:25px;
    font-weight: bold;
    color: white;
   /* your css animation won't work here because you have a fixed background color here, which conflicts with your animation color*/
   /*background-color: rgb(197, 57, 111); */
    border: solid 1px rgb(62, 6, 128);
}


@keyframes background-color-changing {
    0%  {background-color: rgb(197, 57, 111) };
    25% { background-color: rgb(197, 57, 162)};
    50% { background-color: rgb(164, 57, 197)};
    75% {background-color: rgb(118, 57, 197)};
    100%{background-color: rgb(62, 6, 128) };
}
